<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>data</title>
    <link href="/public/styles.css" rel="stylesheet" />
    <link rel="icon" href="/public/assets/favicon.ico">
</head>
<body>
    <div class='fill-screen'>
        <img class='fit-screen'src='/public/assets/background.jpg'>
        <div class="content">
            <img class='logo' src="/public/assets/logo.png" alt="Dizplai logo">
            <div class ="question">
                <% data.forEach(data => {  %>
                    <!-- Getting the question and splitting it up so the last two words are bold -->
                    <% var question_title = data.question.split(" "); %>
                    <% var testFirst = question_title.slice (0, -2).join(" "); %>
                    <% var testLast = question_title.splice(question_title.length - 2).join (" "); %>
                    <h1 id="h1First"><%= testFirst %></h1>
                    <h1 id="h1Second"><%= testLast %></h1>
            </div>
            <div class="selectBtns"> 

                    <button class="option" id="btn1" onclick="btn1_click()"><%= data.options[0].optionText %></button>
                    <button class="option" id="btn2" onclick="btn2_click()"><%= data.options[1].optionText %></button>
                    <button class="option" id="btn3" onclick="btn3_click()"><%= data.options[2].optionText %></button>
                    <% if(data.options[3] === undefined) {%>
                        <% console.log("undefined"); %>

                    <% } else { %>
                    <button class="option" id="btn3" onclick="btn3_click()"><%= data.options[3].optionText %></button>
                        <% }%>
                    <% }) %>

            </div>
            <input type="button" class="submit" value="SUBMIT" onclick="submit_click()">
        </div>
    </div>
    <script src="/public/script.js"></script>
</body>
</html>