<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= data.pollName %></title>
    <link href="/public/styles.css" rel="stylesheet" />
    <link rel="icon" href="/public/assets/favicon.ico">
</head>
<body>
    <div class='fill-screen'>
        <img class='fit-screen'src='/public/assets/background.jpg'>
        <div class="content">
            <img class='logo' src="/public/assets/logo.png" alt="Dizplai logo">
            <div class ="question">

                
                    <!-- Getting the question and splitting it up so the last two words are bold -->
                    <% var buttonAmount = 0 %>
                    <% var question_title = data.question.split(" "); %>
                    <% var testFirst = question_title.slice (0, -2).join(" "); %>
                    <% var testLast = question_title.splice(question_title.length - 2).join (" "); %>
                    <h1 id="h1First"><%= testFirst %></h1>
                    <h1 id="h1Second"><%= testLast %></h1>
                    </div>
                    <div class="selectBtns"> 
                                                        <!-- LOADING UP PAGE DETAILS-->
                                                        
                    <% for(let i = 0; i <data.options.length; i++) { %>
                       <button class="option" id="btn<%=i%>" onclick="btn<%=i%>_click()"><%= data.options[i].optionText %></button> 
                       <% buttonAmount++ %>
                    <% } %>
                    
                    <% function heightChange() { %>
                        <% if (buttonAmount == 3) { %>
                            <style>
                                .option {
                                    height: 98px;
                                }
                                .submit {
                                    height: 98px;
                                }
                            </style>
                        <% } %>

                        <% if (buttonAmount == 4) { %>
                            <style>
                                #h1Second {
                                    margin-bottom: 30px;
                                }
                                .option {
                                    height: 70px;
                                }
                                .submit {
                                    height: 70px;
                                }
                            </style>
                        <% } %>

                        <% if (buttonAmount == 5) { %>
                            <style>
                                #h1Second {
                                margin-bottom: 30px;
                                }
                                .option {
                                height: 60px;
                                margin-left: auto;
                                margin-right: auto;
                                margin-top: 20px;
                                margin-bottom: 20px;
                                }
                                .submit {
                                    height: 60px;
                                }
                            </style>
                        <% } %>
                    <% }%>
                    <% heightChange(); %>
            
            </div>

            <button class="submit" id= "submits"  onclick="submit_click()">SUBMIT</button>
           
        </div>
    </div>
    <script src="/public/script.js"></script>
</body>
</html>